<!DOCTYPE html>

<html>

<head>
    <!-- Favicon -->
    <!--link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}"-->

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <!-- Datatable -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .btnhead {
            background-color: rgb(255, 255, 255);
            border-color: rgb(0, 0, 0);
            color: rgb(0, 0, 0);
            padding: 10px 23px;
            cursor: pointer;
            font-size: 15px;
        }

        /* Darker background on mouse-over */
        .btn:hover {
            background: rgb(0, 0, 0);
        }

        .btnhead:hover {
            background: none;
        }

        input[type="file"] {
            display: none;
            border-color: rgb(0, 0, 0);
        }

        input[type="submit"] {
            display: none;
            border-color: rgb(0, 0, 0);
        }
    </style>
</head>

<body>
    <div class="card-body">
        <div class="mt-1">
            <form action="/insertfile" method="GET">
                <button class="btnhead" type="submit"><i class="fa fa-upload" name="insertButton"></i>
                    Upload</button>
                <button class="btnhead" type="submit" formaction='/refreshall'><i class="fa fa-refresh"
                        name="refreshButton"></i>
                    Refresh All</button>
                <button class="btnhead" type="submit" formaction="/addpage"><i class="fa fa-plus" name="addButton"></i>
                    Add</button>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="mt-1">
                <table id="proxies" class="display table nowrap responsive" style="width: 100%">
                    <thead>
                        <tr>
                            <th>url</th>
                            <th>status_code</th>
                            <th>time</th>
                            <th>update</th>
                            <th>delete</th>
                            <th>refresh</th>
                            <th>history</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rows in row %}
                        <tr>
                            <td><a href='{{rows["url"]}}'>{{rows["url"]}}</a></td>
                            <td>{{rows["status"]}}</td>
                            <td>{{rows["timed"]}}</td>
                            <td>
                                <form action="/update" method="POST">
                                    <input type='hidden' value='{{rows["id"]}}' name='id'>
                                    <button type="submit" class="btn btn-primary" name="updateButton">Update</button>
                                </form>
                            </td>
                            <td>
                                <form action="/delete" method="POST">
                                    <input type='hidden' value='{{rows["id"]}}' name='id'>
                                    <button type="submit" class="btn btn-danger" name="deleteButton">Delete</button>
                                </form>
                            </td>
                            <td>
                                <form action="/refresh" method="POST">
                                    <input type='hidden' value='{{rows["id"]}}' name='id'>
                                    <button type="submit" class="btn btn-success" name="refreshButton">Refresh</button>
                                </form>
                            </td>
                            <td>
                                <form action="/history" method="POST">
                                    <input type='hidden' value='{{rows["id"]}}' name='id'>
                                    <button type="submit" class="btn btn-secondary"
                                        name="historyButton">History</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $('#proxies').DataTable();
</script>

</html>